<div class="call">
  <div class="call-box-top">
    {% if site.data.contact.phone %}
    <div class="call-phone"><strong>Telefon: </strong>
      <a href="{{ site.data.contact.call }}" target="blank"> 
        {{ site.data.contact.phone }} 
      </a>
    </div>
    {% endif %}
    {% if site.data.contact.email %}
    <div class="call-email"><strong>Mail: </strong>
      <a href="mailto:{{ .site.data.contact.email }}" target="blank">
        {{ site.data.contact.email }}
      </a>
    </div>
    {% endif %}
    {% if site.data.contact.adress %}
    <div class="call-adress"><strong>Adres: </strong>
      <a href="{{ .site.data.contact.mapp }}" target="blank">
        {{ site.data.contact.adress }}
      </a>
    </div>
    {% endif %}
  </div>
    <div class="call-box-top">
      {% if site.data.social %}
        {% include social-dark.html %}
      {% endif %}
    </div>
    {% if include.show_button %}
      <div class="call-box-bottom">
        <a href="{{ site.data.contact.contact_button_link }}" class="button">İLETİŞİM</a>
      </div>
    {% endif %}
</div>
