<div class='header'>
  <div class="container">
    <div class="logo">
      <a href="{{ site.domain }}"><img width="{{ site.logo.desktop_width }}" height="{{ site.logo.desktop_height }}" alt="{{ site.title }}" src="{{ site.logo.desktop | relative_url }}" /></a>
    </div>
    <div class="logo-mobile">
      <a href="{{ site.domain }}"><img width="{{ site.logo.mobile_width }}" height="{{ site.logo.mobile_height }}" alt="{{ site.title }}" src="{{ site.logo.mobile | relative_url }}" /></a>
    </div>
    <div class="social-media">
      {% for item in site.data.social %}
        {% if item.name == "Whatsapp" %}
          <a href="{{ item.link | relative_url }}" target="_blank"><img height="32px" alt="{{ item.name }}" src="{{ item.header | relative_url }}" /></a>
        {% endif %}
      {% endfor %}
    </div>
    {% include main-menu.html %}
    {% include hamburger.html %}
  </div>
</div>
